# SPDX-License-Identifier: GPL-2.0-only

config SOC_AMD_ROMEPSP
	bool
	help
	  AMD Picasso support

if SOC_AMD_ROMEPSP

config CPU_SPECIFIC_OPTIONS
	def_bool y
	select ARCH_BOOTBLOCK_X86_32
	select ARCH_VERSTAGE_X86_32
	select ARCH_ROMSTAGE_X86_32
	select ARCH_RAMSTAGE_X86_32
	select X86_AMD_FIXED_MTRRS
	select HAVE_CF9_RESET
	select PARALLEL_MP
	select PARALLEL_MP_AP_WORK
	select IOAPIC
	select RTC
	select TSC_MONOTONIC_TIMER
	# guesses
	select SOC_AMD_COMMON_BLOCK_ACPI
	select SOC_AMD_COMMON_BLOCK_ACPIMMIO

config CPU_ADDR_BITS
	int
	default 48

config MMCONF_BASE_ADDRESS
	hex
	default 0xF8000000

config MMCONF_BUS_NUMBER
	int
	default 64

config ROMEPSP_ACPI_IO_BASE
	hex
	default 0x800
	help
	  Base address for the ACPI registers.

config ACPI_CPU_STRING
	string
	default "\\_PR.C%03d"

endif # SOC_AMD_ROMEPSP
