# SPDX-License-Identifier: GPL-2.0-only

config SOC_AMD_ROMEPSP
	bool
	help
	  AMD Picasso support

if SOC_AMD_ROMEPSP

config CPU_SPECIFIC_OPTIONS
	def_bool y
	select HAVE_CF9_RESET


endmenu

endif # SOC_AMD_ROMEPSP
